/*
html{
    background-color: #555;
}
*/


#keycapture{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#task{
    margin-left: 6em;
    margin-right: 6em;
    margin-top: 2em;
    text-align: center;
    font-size: 1.4em;
}


.harjoitus{
    color: #888
}

.incorrect{
    color: red;
    text-decoration: underline;
    background-color: lightblue;
}

.correct{
    color: green;
    background-color: lightblue;
}

#pistetaulukko{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    font-size: 1.3em;
}

#virheet{
    display: flex;
    text-align: center;
}