* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#game {
    width: 800px;
    height: 400px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

#sky {
    width: 100%;
    height: 300px;
    background-image: url('/img/vanha-aika.png'); /* Taivaan kuva */
    background-size:120% ; /* Peittää koko alueen */
    background-repeat: repeat - x;
    background-position: center center; /* Nostaa kuvan ylös */
    position: absolute;
    top: 0;
    z-index: 0; /* Taivaan kerros */
    animation: move 100s linear infinite; /* Animaatio, joka liikuttaa taivasta vasemmalle */
}

#ground {
    width: 100%;
    height: 140px;
     /* Ruskea väri maalle */
    position: absolute;
    bottom: 0;
    background-image: url('/img/polku.png'); /* Polun kuva */
    background-size: cover; /* Peittää koko alueen */
    background-repeat: repeat-x;
    z-index: 0; /* Taustakerros */
    animation: move 5s linear infinite; /* Animaatio, joka liikuttaa maata vasemmalle */
}
@keyframes move {
    0% { background-position: 0px; }
    100% { background-position: -800px; } /* Liikkuu vasemmalle */
}

#papukaija {
    width: 50px;
    height: 50px;
    background-image: url('/img/parrot.png'); /* Sprite sheetin URL */
    background-size: 100px 50px; /* Sprite sheetin koko */
    background-repeat: no-repeat;
    position: absolute;
    top: 70px;
    left: 750px;
    animation: fly 1s steps(2) infinite, move-left 3s linear infinite; /* Animaatio, joka käy läpi kaikki 8 framea */
        
}
@keyframes move-left {
    0% { left: 750px; }
    100% { left: -50px; } /* Papukaija liikkuu vasemmalle */
}



#character {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 130px;
    left: 50px;
    background-image: url('/img/sprite-sheet.png');
    background-size: 800px 100px;
    background-repeat: no-repeat;
    animation: run 900ms steps(8) infinite;
}

.animate {
    animation: jump 500ms; /* Hyppy-animaatio */
    animation-fill-mode: forwards; /* Ensures the animation stays at the end state */
}

#obstacle {
    width: 50px;
    height: 100px;
    background-image:url('/img/puu.png'); /* Esteen kuva */
    background-size: 50px 100px; /* Esteen koko */
    background-repeat: no-repeat;
    position: absolute;
    bottom: 130px;
    left: 750px;
    animation: block 5s infinite linear;
    z-index: 1;
}


#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: black;
     }
    

@keyframes run {
    0% { background-position: -12px 0; }
    100% { background-position: -812px 0; }
}

@keyframes jump {
    0% { bottom: 130px; }
    50% { bottom: 280px; } /* Maximum jump height */
    100% { bottom: 130px; }
}

@keyframes block {
    0% { left: 750px; }
    100% { left: -40px; }
}
@keyframes fly {
    0% { background-position: 0px; }
    100% { background-position: -100px; } /* Käy läpi kaikki frame */   
}