* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#game {
    position: center;
    margin: auto;
    width: 1000px;
    height: 600px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}
#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Varmistaa, että menu on päällimmäisenä */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; /* Vihreä väri */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#sky {
    width: 100%;
    height: 460px;
    background-image: url('/img/vanha-aika.png'); /* Taivaan kuva */
    background-size:120% ; /* Peittää koko alueen */
    background-repeat: repeat - x;
    background-position: center center; /* Nostaa kuvan ylös */
    position: absolute;
    top: 0;
    z-index: 0; /* Taivaan kerros */
    animation: move 200s linear infinite; /* Animaatio, joka liikuttaa taivasta vasemmalle */
}

#ground {
    width: 1000px;
    height: 140px;
    position: absolute;
    bottom: 0;
    background-image: url('/img/polku.png'); /* Polun kuva */
    background-size: auto; /* Peittää koko alueen */
    background-position: center bottom; /* Nostaa kuvan ylös */
    background-repeat: repeat-x;
    z-index: 0; /* Taustakerros */
    animation: move 5s linear infinite; /* Animaatio, joka liikuttaa maata vasemmalle */
}
@keyframes move {
    0% { background-position: 0px; }
    100% { background-position: -800px; } /* Liikkuu vasemmalle */
}

#papukaija {
    width: 50px;
    height: 50px;
    background-image: url('/img/parrot.png'); /* Sprite sheetin URL */
    background-size: 100px 50px; /* Sprite sheetin koko */
    background-repeat: no-repeat;
    position: absolute;
    top: 70px;
    left: 1100px;
    animation: fly 1s steps(2) infinite, move-left 5s linear infinite; /* Animaatio, joka käy läpi kaikki 8 framea */
        
}
@keyframes move-left {
    0% { left: 1100px; }
    100% { left: -50px; } /* Papukaija liikkuu vasemmalle */
}



#character {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 130px;
    left: 50px;
    background-image: url('/img/sprite-sheet.png');
    background-size: 800px 100px;
    background-repeat: no-repeat;
    animation: run 900ms steps(8) infinite;
}

.animate {
    animation: jump 500ms; /* Hyppy-animaatio */
    animation-fill-mode: forwards; /* Ensures the animation stays at the end state */
}

#obstacle {
    width: 75px;
    height: 170px;
    background-image:url('/img/puu.png'); /* Esteen kuva */
    background-size: 75px 170px; /* Esteen koko */
    background-repeat: no-repeat;
    position: absolute;
    bottom: 110px;
    left: 1001px;
    animation: block 5s infinite linear;
    z-index: 1;
}


#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: black;
     }
    

@keyframes run {
    0% { background-position: -12px 0; }
    100% { background-position: -812px 0; }
}

@keyframes jump {
    0% { bottom: 130px; }
    50% { bottom: 280px; } /* Maximum jump height */
    100% { bottom: 130px; }
}

@keyframes block {
    0% { left: 1001px; }
    100% { left: -40px; }
}
@keyframes fly {
    0% { background-position: 0px; }
    100% { background-position: -100px; } /* Käy läpi kaikki frame */   
}
header {
    
    color: white;
    padding: 10px 0;
    text-align: center;
}   