* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#game {
    position: center;
    margin: auto;
    width: 1000px;
    height: 600px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}
#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    display: flex;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    align-items: center;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; /* Vihreä väri */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#sky {
    width: 100%;
    height: 460px;
    background-image: url('/img/vanha-aika.png'); 
    background-size:120% ; 
    background-repeat: repeat - x;
    background-position: center center; 
    position: absolute;
    top: 0;
    z-index: 0; 
    animation: move 50s linear infinite; 
}

#ground {
    width: 1000px;
    height: 140px;
    position: absolute;
    bottom: 0;
    background-image: url('/img/polku.png'); 
    background-size: auto; 
    background-position: center bottom; 
    background-repeat: repeat-x;
    z-index: 0; 
    animation: move-ground 6s linear infinite; 
}

@keyframes move-ground {
    0% { background-position: 0px; }
    100% { background-position: -1000px; } 
}

@keyframes move {
    0% { background-position: 0px; }
    100% { background-position: -200px; } 
}

#papukaija {
    width: 50px;
    height: 50px;
    background-image: url('/img/parrot.png'); 
    background-size: 100px 50px; 
    background-repeat: no-repeat;
    position: absolute;
    top: 70px;
    left: 1100px;
    animation: fly 1s steps(2) infinite, move-left 5s linear infinite; 
        
}
@keyframes move-left {
    0% { left: 1100px; }
    100% { left: -50px; } 
}



#character {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 130px;
    left: 50px;
    background-image: url('/img/sprite-sheet.png');
    background-size: 800px 100px;
    background-repeat: no-repeat;
    animation: run 900ms steps(8) infinite;
}

.animate {
    animation: jump 500ms; 
    animation-fill-mode: forwards; 
}

#obstacle {
    width: 75px;
    height: 170px;
    background-image:url('/img/puu.png'); 
    background-size: 75px 170px; 
    background-repeat: no-repeat;
    position: absolute;
    bottom: 110px;
    left: 1001px;
    animation: obstacle 6600ms infinite linear;
    z-index: 1;
}

 
#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: black;
     }
    

@keyframes run {
    0% { background-position: -12px 0; }
    100% { background-position: -812px 0; }
}

@keyframes jump {
    0% { bottom: 130px; }
    50% { bottom: 280px; } 
    100% { bottom: 130px; }
}

@keyframes obstacle {
    0% { left: 1000px; }
    100% { left: -100px; }
}
@keyframes fly {
    0% { background-position: 0px; }
    100% { background-position: -100px; }
}
header {
    
    color: white;
    padding: 10px 0;
    text-align: center;
}

#sidebar {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    z-index: 10;
}

#sidebar h2, #sidebar h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

#sidebar p {
    margin: 5px 0;
    font-size: 14px;
}