

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
    max-width: 600px;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}



html {
    font-family: 'play' , sans-serif;
    font-size:  62.5%;
    font-weight: 400;
    line-height: 1.6;
    scroll-behavior: smooth;
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    text-transform: capitalize;
    padding: 2rem 0;
}

h3 {
    font-size: 2rem;
    padding: 2rem 0;
    text-transform: capitalize;
    padding: 2rem;
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}


.box {
    display:flex ;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box .count {
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    padding: 2rem;
}

.flags {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem 1.5rem;
}

.flags .flag-img {
    width: 100%;
}

.flags .flag-img img {
    width: 100%;
    height: 20rem;
    animation: zoom-in-zoom-out 3s ease-in infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
        }
    100% {
        transform: scale(1, 1);
    }
    }

.flags .flag-options ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

.flags .flag-options ul li {
        font-size: 2.5rem;
        text-transform: capitalize;
        margin-bottom: 1.5rem;
        background-color: var(--white);
        padding: 1rem;
        border-radius: .5rem;
        width: 240px;
        cursor: pointer;
        box-shadow: 0 .5rem .5rem .5rem rgba(0 0 0 / .3);
        transition: all .1s ease-in-out;
    }

#newGame {
        border: none;
        padding: 1.5rem;
        color: var(--white);
        cursor: pointer;
        font-size: 1.8rem;
        font-weight: bold;
        letter-spacing: .1rem;
    }

.score {
    display: none;
    padding: 2rem;
    border-radius: .5rem;
}

.score .right,
.score .incorrect {
    color: var(--white);
}

.flags .flag-options ul li.active {
    color: var(--white)
} 

.flags .flag-options ul li.success {
    background-color: chartreuse;
}

.flags .flag-options ul li.wrong {
    background-color: crimson;
}

@media(min-width: 375px){
    h1,h3,.box .count{
        font-size: 3rem;
    }
    .flags .flag-img {
        width: 30rem;
    }
    .flags .flag-options ul li {
        width: 100%;
    }
}

@media(min-width: 768px){
    h1{
        font-size: 6rem;
    }
}

@media(min-width: 991px) {
    .flags .flag-options ul li:hover {
        color: var(--white)
    }
}