h1{
    font-size: 3em;
}

.pisteet{
    font-size: 10em;
    animation: pisteanim 4s linear 0s infinite;
    -webkit-animation: pisteanim 4s linear 0s infinite;
}

main{
    text-align: center;
}


@keyframes pisteanim{
    0%  {color: red;}
    16% {color: orange;}
    33% {color: yellow;}
    49% {color: green;}
    66% {color: blue;}
    83% {color: purple;}
    100%{color: red;}
}

.pelilista{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding: 1em;
    margin: auto;
    justify-content: center;
}

.pelilista div{
    width: 140px;
    margin: 1em;
    text-align: center;
    font-size: 1.1em;
    background-color: white;
    box-shadow: 3px 3px 2px black;
}

.pelilista div a{
    text-decoration: none;
    color: darkblue;
}

.pelilista div a:hover{
    text-decoration: underline;
}

.pelilista img{
    max-width: 130px;
    object-fit: contain;

}